.product-bag-card {
  height: 120px;
  padding: 20px;

  img {
    height: 80px;
    width: 80px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .qty-drpdown select {
    width: 100px;
  }
}

.no-product-card {
  padding: 20px;
  text-align: center;
}

.bagproductsWrapper {
  .col {
    margin-bottom: 20px;
  }
}